.git
.github
.idea
.vscode
.docker
node_modules
apps/web/node_modules
apps/web/dist
apps/api/vendor
vendor
.env
.env.*
!.env.example
*.log
*.log*
coverage
.phpunit.cache
.phpunit.result.cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
apps/api/storage/logs/*
apps/api/storage/framework/cache/*
apps/api/storage/framework/sessions/*
apps/api/storage/framework/views/*
