/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.phpunit.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.docker
.DS_Store
Thumbs.db
*.tmp
*.swp
*.log
*.cache
/apps/api/vendor
/apps/api/.env
/apps/api/.env.backup
/apps/api/storage/*.key
/apps/api/public/hot
/apps/api/public/storage
/apps/api/.phpunit.result.cache
/apps/api/.phpunit.cache
/apps/web/node_modules
/apps/web/dist
/apps/web/.env
/apps/web/.env.local
/apps/web/.env.*.local
